h1, h2, h3, h4, h5, h6, .title span, .nav span, p code {
    color: #AB1979;
    /*color: #7B0079;*/
}

.nav:hover span {
    color: #B90808;
}

.contents p {
    text-indent: 0;
    margin-top: -1em;
}

li p, li pre {
    margin: 0 !important;
}

p, li {
    font-size: 110%
}

li pre {
    font-size: 90%
}

.prettyprint {
    font-size: 90%
}

p code {
    font-size: 90%;
}

pre, pre code {
    background-color: #F9F9F9;
}

pre {
    padding: 5px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
