version: "3.9"

services:
  nginx:
    image: nginx:1.18.0
    command: /bin/bash -c "cd /usr/share/nginx/html && curl -o all-ones.tif https://raw.githubusercontent.com/locationtech/geotrellis/v3.3.0/spark/src/test/resources/all-ones.tif && cd ~- && sed -i 's/listen       80;/listen       8081;/g' /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
    network_mode: host

  minio:
    image: minio/minio:RELEASE.2023-02-22T18-23-45Z
    environment:
      - MINIO_ACCESS_KEY=minio
      - MINIO_SECRET_KEY=password
    command: server --address :9091 /data
    network_mode: host

  cassandra:
    image: cassandra:4.1.0
    environment:
      - _JAVA_OPTIONS=-Xms1m -Xmx512m
      - MAX_HEAP_SIZE=512m
      - HEAP_NEWSIZE=1m
      - CASSANDRA_LISTEN_ADDRESS=127.0.0.1
    network_mode: host

  hbase:
    image: daunnc/hbase:2.2.4
    environment:
      - _JAVA_OPTIONS=-Xms1m -Xmx512m
      - HBASE_DOCKER_HOSTNAME=localhost
    network_mode: host

  test:
    image: quay.io/azavea/openjdk-gdal:3.1-jdk8-slim
    working_dir: /usr/local/src
    command: ./sbt ++$SCALA_VERSION test
    environment:
      - CI
      - SCALA_VERSION
    depends_on: 
      - nginx
      - minio
      - cassandra
      - hbase
    volumes:
      - ./../:/usr/local/src
    network_mode: host
