

project/boot
project/plugins/project
project/plugins/target
project/target
target
.ensime
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.crc
_SUCCESS

*.pyc
.project
.classpath
.cache
.settings
.history
.idea
.DS_Store
*.iml
*.swp
*.swo
*.sublime-*
.vagrant
