# Operating System Files

*.DS_Store
Thumbs.db

# Docs

index.html
index.js
package.html
lib
site/
docs/_build/

# Build Files

bin
target
build/
.gradle
cmake-build-debug

# Eclipse Project Files

.classpath
.project
.settings

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
README.html

# Sublime files

*.sublime-workspace

# VSCode files

.vscode
.history

# Metals

.metals
.bloop
metals.sbt

# SBT

.bsp

# Terraform

.terraform
scripts/emr/terraform/variables.tf*
scripts/emr/terraform/terraform.tfstate*

# Vagrant

.vagrant

# Test files

spark/src/test/resources/vlm/*catalog*

# Dependencies list file

target/dependencies-list.txt

# Other

.#*
.lib
*.aux.xml
*.jar
*.crc

_SUCCESS

*.pyc
.cache
.settings
*.swp
*.swo

nohup.out
derby.log
metastore_db/
*.log
.sdkmanrc
