index.html
index.js
package.html
lib
site/
docs/_build/

project/boot
project/plugins/project
project/plugins/target
project/target
target
.ensime
.metals/
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.crc
_SUCCESS

*.pyc
.project
.classpath
.cache
.settings
.history
.idea
*.bloop
.DS_Store
*.iml
*.swp
*.swo
*.sublime-*
.vagrant

.terraform
scripts/emr/terraform/variables.tf*
scripts/emr/terraform/terraform.tfstate*

lib
index.html
index.js
.ensime*

nohup.out

site/

derby.log
metastore_db/
*.log

