<Configuration status="ALL">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c:%L - %m%n" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="ALL">
     <AppenderRef ref="ConsoleAppender"/>
    </Root>
    <Logger name="software.amazon.awssdk" level="ALL" />
    <Logger name="software.amazon.awssdk.request" level="ALL" />
    <Logger name="org.apache.http.wire" level="ALL" />
  </Loggers>
</Configuration>
