---

cluster_name: super-cluster

#Baked into AMIs when created by EC2
ec2_key_name: spark-cluster
ec2_key_file: keys/spark-cluster.pem

#These are used by HDFS to copy from S3 buckets
aws:
  key_id:     <AKI...>
  key_secret: <...>

#Ubuntu 12.04 LTS AMI
region: us-east-1
instance_type: m3.large
image: ami-018c9568

#Spark/HDFS workers
worker_count: 3

#These volumes will be given to hdfs data nodes
#recommended device names are from xvdf to xvdp
hdfs:
  volumes: [
    { device: /dev/xvdf, mount: /mnt/data1, size: 64 },
    { device: /dev/xvdg, mount: /mnt/data2, size: 64 }
  ]
  replication: 3