---
layout: default
---

{% include cheatsheet-header.txt %}

<div class="wrapper">
  {% include topbar.txt %}

  <header class="scrollingmenu">
    <h1>{{ page.title }}</h1>
  </header>

  <div class="bottom">
    <div class="container">
      <div class="row">

        <div class="span3">
          {% include cheatsheet-sidebar.txt %}
        </div>
    
        <div class="span13">
          {{ content }}
        </div>
    
      </div>
	
    </div>
  </div>
  <div class="push"></div>
</div>
{% include footer.txt %}    
