---
layout: default
---

{% include glossary-header.txt %}
<div style="background:url(/resources/images/bg-home.png) no-repeat top center">
  <div class="wrapper">
    {% include topbar.txt %}

    <header class="pageheader">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="span3">
            {% include glossary-sidebar.txt %}
          </div>
          
          <div class="span13">
            <div id="glossary">
	      {{ content }}
	    </div>
          </div>
          
        </div>
	
      </div>
    </div>
    <div class="push"></div>
  </div>
</div>
{% include footer.txt %}    
